<ng-container *ngIf="data$ | async as data">
  <mc-loading *ngIf="data.isLoading"></mc-loading>
  <mc-error-message *ngIf="data.error" [message]="data.error"></mc-error-message>
  <div *ngIf="data.stream">
    <div class="article-preview" *ngFor="let article of data.stream.articles">
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">{{ article.createdAt }}</span>
        </div>
        <div class="pull-xs-right">
          <mc-add-to-favourites [isFavourited]="article.favorited" [articleSlug]="article.slug"
            [favouritedCount]="article.favoritesCount"></mc-add-to-favourites>
        </div>
      </div>
      <a [routerLink]="['/articles', article.slug]" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <span>Read more...</span>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </a>
    </div>
    <mc-pagination [total]="data.stream.articlesCount" [limit]="limit" [url]="baseUrl"
      [currentPage]="currentPage"></mc-pagination>
  </div>
</ng-container>